.metadata/
bin/
target/
grid/etc/RMTestLocal.conf
grid/etc/Appium_TEMP.json
grid/etc/LocalConfig.json
grid/etc/hostList
grid/node_modules
.metadata
.project
.classpath
.idea/
.settings
cmd/.log
*.iml
grid/etc/Simulator_Temp.json
RMR-Screenshots/
*.png
*.DS_Store
*.log
*.yml
nbproject/
